.intro{
    h1{
        font-size: 3.5rem;
        margin-bottom: 0rem;
    }
    h2{
        margin-top: .5rem;
        font-size: 1.5rem;
        width: 80%;
        
    }
    .social-media{
        display: flex;
        flex-direction: row;
        .link{
            a{
                text-decoration: none;
                color:#0A3EA6;
                :hover{
                  color:#4a67a1;
                  font-style: italic;
                  font-style: bold;
                  font-weight: 800;
                }
            }
            padding-right: 3rem;
        }
    }
}
