.container{

}

.links{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.link{
    padding-right: .5rem;
    text-decoration: none;
    text-transform: capitalize;
}
a{
    &:hover{
        font-style: italic;
        font-weight: 900;
    }   
}

img{
    max-width: 100%;
    height: auto;
}