.heading{
    h2{
        font-size: 2rem;
    }
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    div{
        max-width: 50%;
        padding-right: 1rem;
        margin-right: auto;
    }
}